/*
 * @Author: Rajkeshwar Prasad(rajkeshwar.pd@gmail.com) 
 * @Date: 2019-08-17 21:51:17 
 * @Last Modified by: Rajkeshwar Prasad
 * @Last Modified time: 2019-08-17 22:39:20
 */

 

$gmail-color-01: #5c6166;
$gmail-color-02: #a9adb2;
$gmail-color-03: #c4c7ca;
$gmail-color-04: #b7babe;
$gmail-color-05: #007ae1;
$gmail-color-06: #ecedee;
$gmail-color-07: #f8f8f8;
$gmail-color-08: #008fd5;
$gmail-color-09: #202124;
$gmail-color-10: #555555;
$gmail-color-11: #5f6368;
$gmail-color-12: #666666;
$gmail-color-13: #0000ee;
$gmail-color-14: #c6c6c6;
$gmail-color-15: #dadce0;
$gmail-color-16: #eeeeee;
$gmail-color-17: #333333;
$gmail-color-18: #3c4043;
$gmail-color-19: #1155cc;
$gmail-color-20: #4285f4;
$gmail-color-21: #fad163;
$gmail-color-22: #d9d9d9;
$gmail-color-23: #3079ed;
$gmail-color-24: #444444;
$gmail-color-25: #aaaaaa;
$gmail-color-26: #f0c36d;
$gmail-color-27: #f5f5f5;
$gmail-color-28: #1a73e8;
$gmail-color-29: #cccccc;
$gmail-color-30: #c53929;
$gmail-color-31: #757575;
$gmail-color-32: #dddddd;
$gmail-color-33: #262626;
$gmail-color-34: #427fed;
$gmail-color-35: #222222;
$gmail-color-36: #999999;
$gmail-color-37: #80868b;
$gmail-color-38: #d23f31;
$gmail-color-39: #e1e1e1;
$gmail-color-40: #bbbbbb;
$gmail-color-41: #db4437;
$gmail-color-42: #f1f1f1;
$gmail-color-43: #fae5b0;
$gmail-color-44: #f1f3f4;
$gmail-color-45: #3366cc;
$gmail-color-46: #4d90fe;
$gmail-color-47: #f4b400;
$gmail-color-48: #c0c0c0;
